@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full;
  margin: 0 auto;
  text-align: center;
}

.logo {
  @apply max-h-20;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-49%);
  }
  100% {
    transform: translateY(0);
  }
}

.scrolling-container {
  overflow: hidden;
  position: relative;
}

.scrolling-content {
  position: absolute;
  width: 100%;
  top: 0;
  height: 200%; /* Ensure this is double the height of the container to cover the duplicated content */
  animation: scrollAnimation 15s linear infinite;
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
